* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --t1-background: hsl(222, 26%, 31%);
  --t1-del: hsl(225, 21%, 49%);
  --t1-del-shadow: hsl(224, 28%, 35%);
  --t1-button-shadow: hsl(0, 5%, 81%);
  --t1-button: hsl(0, 0%, 90%);
  --t1-pad: hsl(223, 31%, 20%);
  --t1-screen: hsl(224, 36%, 15%);
  --t1-p: hsl(0, 0%, 100%);
  --t1-pin: hsl(6, 63%, 50%);
  --t1-pin-shadow: hsl(6, 70%, 34%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--t1-background);
}

.touches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 55vh;
  width: 36%;
  background-color: var(--t1-pad);
  border-radius: 18px;
  margin-top: 13rem;
}

input {
  display: inline-block;
  background-color: var(--t1-button-shadow);
  height: 4.5rem;
  width: 7.5rem;
  margin: 0.7rem;
  border-radius: 20px;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--t1-del);
}

.del {
  background-color: var(--t1-del);
  color: var(--t1-p);
}

.pin {
  background-color: var(--t1-pin);
  color: var(--t1-p);
}

.reset,
.pin {
  width: 42%;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  color: var(--t1-p);
  width: 36%;
  margin-top: 6rem;
}

.mode {
  font-size: 1rem;
  margin-left: 24rem;
  margin-bottom: 0.2rem;
  font-weight: 200;
}

.button {
  background-color: var(--t1-screen);
  width: 6rem;
  height: 2rem;
  border-radius: 20px;
}

.number {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.elem1,
.elem2,
.elem3,
.elem4,
.elem5 {
  margin-left: 3rem;
}

textarea {
  position: absolute;
  background-color: var(--t1-screen);
  color: var(--t1-p);
  font-size: 4rem;
  border: none;
  width: 36%;
  height: 10rem;
  resize: none;
  border-radius: 18px;
  text-align: right;
  top: 10rem;
  padding-top: 3rem;
  padding-right: 2rem;
}

.attribution {
  margin-top: 3rem;
  color: white;
}

.attribution a {
  color: white;
  text-decoration: none;
}

.attribution a:hover {
  color: grey;
}
